
.wrapper
    display: grid
    grid-template-columns: repeat(4,1fr)
    column-gap: 30px
    row-gap: 70px

.card
    display: flex
    flex-direction: column

    &_img
        width: 270px
.bestsellers
    height: auto
    width: 100%

    &__header
        display: grid
        grid-template-columns: repeat(2,1fr)
        grid-template-rows: repeat(2,1fr)
